.container
{
    background-color: black;
    display: flex;
    flex-direction: row;
    
}
.container >div
{
    background-color: dodgerblue;
    color: white;
    margin: 5px;
    padding: 5px;
    flex:50%;

}
@media(max-width:800px)
{
    .container
    {
        flex-direction: column;
        background-color:grey ;
    }
}